$primary-color: #E31E24;
$primary-black: #000;
$primary-white: #fff;

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #000;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1110px;
  margin: auto;
}

.header {
  border-bottom: 1px solid $primary-color;

  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

    img {
      cursor: pointer;
    }
  }

    .nav {
      display: flex;
      list-style: none;
      .nav__item {
        display: flex;
        margin-right: 30px;
        cursor: pointer;

        .arrow {
          width: 8px;
          height: 8px;
          border-top: 1px solid $primary-black;
          border-right: 1px solid $primary-black;
          transform: rotate(135deg);
          margin-left: 10px;
        }
        a {
          font-size: 14px;
          text-decoration: none;
          color: $primary-black;
          line-height: 16px;
        }
      }
    }

    .quest {
      display: flex;
      align-items: center;
      cursor: pointer;
      .quest__name {
        font-size: 14px;
        padding-left: 8px;
        color: $primary-color;
      }
      .language {
        padding-left: 15px;
      }
    }
}

.container h1 {
  font-size: 120px;
  line-height: 100px;
  color: #E0E0E0;
  letter-spacing: 0.02em;
  margin-top: 60px;
  margin-bottom: 25px;
}

.info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;

  .info__text p {
    font-size: 24px;
    letter-spacing: 0.02em;
  }

  .form {
    p {
      font-size: 20px;
      letter-spacing: 0.02em;
      padding-top: 50px;
    }

    .email {
      width: 386px;
      height: 44px;
      left: 163px;
      top: 518px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      padding-left: 30px;
    }

    .email::placeholder {
      font-size: 16px;
      line-height: 19px;
      color: rgba(0, 0, 0, 0.5);
    }

    .checkbox {
      display: flex;
      align-items: center;

      p {
        font-size: 14px;
        color: #C3281E;
        padding: 0;
      }

      input {
        width: 20px;
        height: 20px;
        margin-right: 12px;
      }
    }

    .btn {
      border: none;
      outline: none;
      width: 287px;
      height: 44px;
      color: $primary-white;
      font-size: 18px;
      background-color: $primary-color;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .input__wrapper {
    width: 100%;
    position: relative;
    margin: 15px 0;
    text-align: center;
  }

  .input__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }

  .input__file-icon-wrapper {
    height: 25px;
    width: 50px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid $primary-white;
  }

  .input__file-icon-wrapper path {
    fill: $primary-white;
  }

  .input__file-button {
    width: 100%;
    max-width: 180px;
    height: 50px;
    background: $primary-color;
    color: $primary-white;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
  }
}

.bg {
  height: 260px;
  background-color: $primary-color;
  color: $primary-white;
}

.footer {
  display: flex;
  justify-content: space-between;

  .reservation {
    h3 {
      font-size: 20px;
      margin-top: 40px;
      margin-bottom: 10px;
    }
    p {
      font-size: 20px;
      font-weight: 300;
      line-height: 28px;
    }
  }
  .information {
    h3 {
      font-size: 20px;
      margin-top: 40px;
      margin-bottom: 10px;
    }
    p {
      font-size: 20px;
      font-weight: 300;
      line-height: 28px;
    }
  }
  .contact {
    h3 {
      font-size: 20px;
      margin-top: 40px;
      margin-bottom: 10px;
    }
    p {
      font-size: 20px;
      font-weight: 300;
      line-height: 28px;
      margin-bottom: 0;
    }
    p:last-child {
      margin-top: 0;
    }
    span {
      padding-right: 10px;
    }
  }
}
