body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #000;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1110px;
  margin: auto;
}

.header {
  border-bottom: 1px solid #E31E24;
}
.header .header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.header .header-inner img {
  cursor: pointer;
}
.header .nav {
  display: flex;
  list-style: none;
}
.header .nav .nav__item {
  display: flex;
  margin-right: 30px;
  cursor: pointer;
}
.header .nav .nav__item .arrow {
  width: 8px;
  height: 8px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  transform: rotate(135deg);
  margin-left: 10px;
}
.header .nav .nav__item a {
  font-size: 14px;
  text-decoration: none;
  color: #000;
  line-height: 16px;
}
.header .quest {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header .quest .quest__name {
  font-size: 14px;
  padding-left: 8px;
  color: #E31E24;
}
.header .quest .language {
  padding-left: 15px;
}

.container h1 {
  font-size: 120px;
  line-height: 100px;
  color: #E0E0E0;
  letter-spacing: 0.02em;
  margin-top: 60px;
  margin-bottom: 25px;
}

.info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
}
.info .info__text p {
  font-size: 24px;
  letter-spacing: 0.02em;
}
.info .form p {
  font-size: 20px;
  letter-spacing: 0.02em;
  padding-top: 50px;
}
.info .form .email {
  width: 386px;
  height: 44px;
  left: 163px;
  top: 518px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 30px;
}
.info .form .email::placeholder {
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.5);
}
.info .form .checkbox {
  display: flex;
  align-items: center;
}
.info .form .checkbox p {
  font-size: 14px;
  color: #C3281E;
  padding: 0;
}
.info .form .checkbox input {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}
.info .form .btn {
  border: none;
  outline: none;
  width: 287px;
  height: 44px;
  color: #fff;
  font-size: 18px;
  background-color: #E31E24;
  border-radius: 5px;
  cursor: pointer;
}
.info .input__wrapper {
  width: 100%;
  position: relative;
  margin: 15px 0;
  text-align: center;
}
.info .input__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.info .input__file-icon-wrapper {
  height: 25px;
  width: 50px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #fff;
}
.info .input__file-icon-wrapper path {
  fill: #fff;
}
.info .input__file-button {
  width: 100%;
  max-width: 180px;
  height: 50px;
  background: #E31E24;
  color: #fff;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

.bg {
  height: 260px;
  background-color: #E31E24;
  color: #fff;
}

.footer {
  display: flex;
  justify-content: space-between;
}
.footer .reservation h3 {
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 10px;
}
.footer .reservation p {
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
}
.footer .information h3 {
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 10px;
}
.footer .information p {
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
}
.footer .contact h3 {
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 10px;
}
.footer .contact p {
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 0;
}
.footer .contact p:last-child {
  margin-top: 0;
}
.footer .contact span {
  padding-right: 10px;
}

/*# sourceMappingURL=style.css.map */
